@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 36px;
    background: linear-gradient(to bottom, #000, #000 60%, #fff 60%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    transition: background 0.2s ease-out;
    white-space: nowrap;
}

.underline {
    position: relative;
    width: 225px;
  }
  
  .underline:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 15px;
    background: #000;
    bottom: 9px;
    transition: all 0.2s ease-out;
  }
  
  h1:hover {
    background-position: 0 11px;
  }
  
  .underline:hover:before {
    transform: translateY(10px)
  }

body {
    display: grid;
    grid-template: 1fr / 290px 5fr;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    min-height: 100vh;
    background: #EFEFEF;
    --dot-bg: black;
    --dot-color: white;
    --dot-size: 2px;
    --dot-space: 50px;
}

a {
    text-decoration: none;
    color: #101010;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.1rem;
}

main {
    grid-area: 1 / 2 / 2 / 3;
    padding: 1rem;
    background: linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

aside {
    grid-area: 1 / 1 / 4 / 2;
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0 0 1.4rem;
    -webkit-box-shadow: 4px 0px 11px -1px rgba(0,0,0,0.36); 
    box-shadow: 4px 0px 11px -1px rgba(0,0,0,0.36);
    margin-right: 1rem;
}

.hide {
    display: none;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

li {
    list-style-type: none;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

li > img {
    vertical-align:-30%;
    padding-right: 0.6rem;
}

input {
    border-radius: 20px;
    border: 0px;
    width: 200px;
    height: 24px;
    background-color: lightgray;
    padding: 0.4rem;
    font-family: 'Poppins', sans-serif;
}

input[type=checkbox] {
    border-radius: 20px;
    border: 0px;
    width: auto;
    height: 24px;
    background-color: lightgray;
    padding: 0.4rem;
    font-family: 'Poppins', sans-serif;
    align-self: flex-start;
    transform: scale(1.6);
    margin-left: 0.5rem;
}



.buttons > button,
#save {
    font-family: 'Poppins', sans-serif;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: 0px;
    -webkit-box-shadow: 3px 5px 7px -1px rgba(0,0,0,0.37); 
    box-shadow: 3px 5px 7px -1px rgba(0,0,0,0.37);
}

.buttons > button:active ,
#save:active {
    transform: translateY(2px);
    -webkit-box-shadow: none;
    box-shadow: none;
}


main {
    display: grid;
    grid-template: 50px 5fr 50px 5fr / 1fr;
    gap: 0.2rem;
    border-radius: 20px;
    margin: 1em;
    color: #EFEFEF;
}

h3.books {
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
    padding: 0 1rem;
}

div.books {
    grid-area: 2 / 1 / 5 / 2;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
    color: #101010;
}

.bottom {
    color: lightslategray;
}
.card {
    border-radius: 10px;
    background: #EFEFEF;
    padding: 1rem;
    -webkit-box-shadow: 3px 5px 7px -1px rgba(0,0,0,0.37); 
    box-shadow: 3px 5px 7px -1px rgba(0,0,0,0.37);
    position: relative;
    max-width: 240px;
    max-height: 260px;
}

.content > p {
    font-size: 0.8rem;
}

#gen-card {
    padding-top: 1rem;
    display: flex;
    gap: 0.5rem;
}

div.controls > a {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

div.controls > a:hover {
    transform: translateY(-3px) scale(1.1) translateZ(0);
}

.controls {
    text-align: right;
    margin-right: 0.5rem;
    margin-top: 1rem;
}